.after_modal_appended {
  position: relative;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.block {
  width: 100%;
  height: 200px;
}

.modal,
.modal-backdrop {
  position: absolute !important;
}
